In [1]:
# total de infracoes por tipo de infracao (leve, media, grave, gravissima)
# total de infracoes por dia
# base possui valores faltantes

# Carregar arquivo

In [2]:
# carrega arquivo

# import pandas
import pandas as pd

# read data source
# note df from DataFrame
df = pd.read_csv('julho.csv', sep=';')

# read head
# can pass number of lines to read df.head(8)
# read first 8 lines
df.head()

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

  tipo_infracao  ... grav_tipo
0        7455-0  ...     Média
1        7463-0  ...     Grave
2        7463-0  ...     Grave
3        7455-0  ...     Média
4        7455-0  ...     Média

[5 rows x 13 columns]

In [3]:
# desrcibe data
df.describe()

       tipo_infracao  ... grav_tipo
count          77348  ...     77348
unique           137  ...         4
top           7455-0  ...     Média
freq           44594  ...     48184

[4 rows x 13 columns]

In [4]:

df.shape

(77348, 13)

# 1 - Total de infracoes por tipo de infracao

In [5]:
# count total infracoes por tipo de infracao
df.groupby("grav_tipo")["grav_tipo"].count()

grav_tipo
Grave          8195
Gravíssima     6254
Leve          14715
Média         48184
Name: grav_tipo, dtype: int64

# 2 - Total de infracoes por dia

In [6]:
df.groupby("cometimento")["cometimento"].count()

cometimento
01/07/2020    2807
02/07/2020    2849
03/07/2020    2943
04/07/2020    2111
05/07/2020    1812
06/07/2020    2376
07/07/2020    2601
08/07/2020    2588
09/07/2020    2686
10/07/2020    2786
11/07/2020    1975
12/07/2020    1889
13/07/2020    2623
14/07/2020    2587
15/07/2020    2717
16/07/2020    2678
17/07/2020    2846
18/07/2020    2156
19/07/2020    1895
20/07/2020    2543
21/07/2020    2553
22/07/2020    2752
23/07/2020    2540
24/07/2020    2753
25/07/2020    2149
26/07/2020    1818
27/07/2020    2763
28/07/2020    2413
29/07/2020    2737
30/07/2020    2670
31/07/2020    2732
Name: cometimento, dtype: int64

# 3 - Base possui valores faltantes

In [7]:
# sim, a base de dados possui valores faltantes
df.isnull().sum()

tipo_infracao                  0
descricao                      0
tipo_infrator                  0
tipo_veiculo                  17
cometimento                    0
hora_cometimento               0
auinf_local_rodovia            6
auinf_local_km             63975
auinf_local_referencia     64200
auinf_local_complemento    74269
auinf_local_latitude       65127
auinf_local_longitude      65127
grav_tipo                      0
dtype: int64

# como alternativa, podemos deletar os dados

In [8]:
# remove all data missing
df.dropna(subset=["tipo_veiculo"], inplace=True)
df.dropna(subset=["auinf_local_rodovia"], inplace=True)
df.dropna(subset=["auinf_local_km"], inplace=True)
df.dropna(subset=["auinf_local_referencia"], inplace=True)
df.dropna(subset=["auinf_local_complemento"], inplace=True)
df.dropna(subset=["auinf_local_latitude"], inplace=True)
df.dropna(subset=["auinf_local_longitude"], inplace=True)

In [9]:
# check again
df.isnull().sum()

tipo_infracao              0
descricao                  0
tipo_infrator              0
tipo_veiculo               0
cometimento                0
hora_cometimento           0
auinf_local_rodovia        0
auinf_local_km             0
auinf_local_referencia     0
auinf_local_complemento    0
auinf_local_latitude       0
auinf_local_longitude      0
grav_tipo                  0
dtype: int64

# export data analyzed

In [10]:
# export data
df.to_excel("analysis.xlsx", index=False)